/*
This is the CSS style for https://locrian.zone,
"licensed" under CC-0, or placed into the public domain.
https://codeberg.org/locrian/css-themes
*/

html {
	--bg: #000;
	--text: #fff;
	--faint: #e0f2ff;
	--accent1: #5BCEFA;
	--accent2: #FA5BD9;
	--accent3: #c594ff;
	--accent4: #86ff48;
}

body {
	background-color: var(--bg);
	color: var(--text);
	font-size: 1em;
	padding: 1%;
}

small {
	font-size: 0.8em;
	color: var(--faint);
}

main {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: var(--accent1);
	font-size: 1.5em;
}

h2 {
	color: var(--accent1);
	font-size: 1.2em;
}

i, em {
	color: var(--accent3);
}

b, strong {
	color: var(--accent4);
}

a {
	color: var(--accent2);
}

a:active {
	color: var(--accent1);
}

a:visited {
	color: var(--accent2);
}

/* Spoiler tag */
/* This suffices if you only want to hide one
spoiler per page. You'll need to add additional
copies of these classes with different names if
you want more than one per page. */

p.spoiler {
	text-align: center;
}

label.spoiler {
	border: 4px double var(--accent2);
	padding: 5px;
}

input#spoiler {
	display: none;
}

span.spoiler {
  display: none;
  padding: 5px;
	margin-top: 15px;
	max-width: 100%;
}

span.spoiler img {
	padding: 2px;
	max-width: 100%;
	box-shadow: 10px 10px 10px var(--accent2)70;
}

p.mask {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100%;
}

p.mask img {
	max-width: 340px;
}

#spoiler:checked ~ span.spoiler {
  display: block;
}

/* Declarations for very specific things */

div.soldark {
  width: 300px;
  max-width: 90%;
  padding: 10px;
  margin: 5px auto;
  height: 20px;
  border: 1px dotted #fdf6e3;
  color: #fdf6e3;
}

div.sollight {
  width: 300px;
  max-width: 90%;
  padding: 10px;
  margin: 5px auto;
  height: 20px;
  border: 1px dotted #002b36;
  color: #002b36;
}

span.hex {
	float: left;
}

span.rgb {
	float: right;
}

ul {
	margin-left: 1em;
	max-width: 80%;
}

ul li {
	list-style: none;
	margin: 0 0 5px 0;
	padding: 0;
}

ul li:nth-child( even )::before {
  content: "\2022";
  color: var(--accent1);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ul li:nth-child( odd )::before {
  content: "\2022";
  color: var(--accent2);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ul.odd li:nth-child( odd )::before {
  content: "\2022";
  color: var(--accent1);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ul.odd li:nth-child( even )::before {
  content: "\2022";
  color: var(--accent2);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ul.unicode {
	list-style: none;
	display: inline;
	padding: 0;
}

ul.unicode li {
	font-size: 2em;
	display: inline;
	width: unset;
	background: transparent !important;
	border: none;
}

/* Responsive on mobile */

@media only screen and (max-width: 650px) {
  main {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}