/*
Simple Solarized Dark, by locrian, "licensed" under CC-0, or placed into the public domain.
https://codeberg.org/locrian/css-themes

I put this together for a little website I never wound up doing anything with.

This style uses the Solarized color theme by Ethan Schoonover, licensed under the MIT license.
https://ethanschoonover.com/solarized/
*/

body {
  background-color: #002B36;
  color: #FDF6E3;
  font-family: Verdana;
  max-width:60%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 650px) {
  body {
    max-width:100%;
    padding: 1%;
  }
}

a {
  color: #2AA198;
  text-decoration: none;
  border-bottom: 1px dotted #2AA198;
}


a:visited {
  color: #D33682;
  text-decoration: none;
  border-bottom: 1px dotted #D33682;
}

a:hover {
  color: #DC322F;
  text-decoration: none;
  border-bottom: 1px dotted #DC322F;
}

h1 {
  font-size:2em;
  font-family: Garamond, "Times New Roman";
  color:#EEE8D5;
  margin-bottom: 0px;
}

h2 {
  font-size:1.5em;
  font-family: Garamond, "Times New Roman";
  color:#EEE8D5;
  margin-bottom: -0.5em;
}

h3 {
  font-size:1.3em;
  font-family: Garamond, "Times New Roman";
  color:#EEE8D5;
}